{% extends 'base.html' %}

{% block content %}

    <h1> Hello to the Payroll Project!!!</h1>


    <p> This will evolve into a simple web application that tracks employees, companies and the days and hours worked by each employee for the various companies.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptatem aspernatur beatae est, omnis corporis rerum magnam eveniet corrupti nisi maxime quas quasi nemo quos provident obcaecati odit quidem molestias.

    </p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut ad amet rem earum officiis corporis placeat asperiores enim voluptas commodi. Mollitia id impedit, inventore culpa enim assumenda iure necessitatibus consectetur?</p>

{% endblock %} 